<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add New Athlete</title>
  <link th:href="@{/styles/form.css}" rel="stylesheet">

</head>
<div th:replace="~{fragments/navbar::navbar}"></div>

<body>

<h1>Add New Athlete</h1>
<form th:action="@{/athletes/add}" th:object="${athlete}" method="post">
  <p>Name: <input type="text" th:field="*{name}" /></p>
  <p>Birthdate: <input type="date" th:field="*{birthdate}" /></p>
  <p>PhoneNumber: <input type="text" th:field="*{phoneNumber}" /></p>
  <p>
    <select th:field="*{gen}">
      <option value="">Select gender</option>
      <option value="M">M</option>
      <option value="F">F</option>
    </select>
  </p>
  <p>Club:
    <select th:field="*{sportsClub}">
      <option value="">Select Club</option>
      <option th:each="club : ${clubs}" th:value="${club.getId()}"
              th:text="${club.getId()} + ' - ' + ${club.getSportsClubName()}"></option>
    </select>
  </p>

  <p><input type="submit" value="Submit" /></p>
</form>
<p th:if="${error}" th:text="${error}"></p>
<a href="/athletes">
  <button type="button">Back</button>
</a>
</body>
</html>
