<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Club Information</title>
    <link th:href="@{/styles/club.css}" rel="stylesheet" />


</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<h1>Club Information</h1>
<div id="clubs-layout">
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Owner Name</th>
        <th>Sports Club Name</th>
        <th>Email</th>
        <th>Number of Athletes</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="club : ${clubsWithCounts}">
        <td th:text="${club.id}"></td>
        <td th:text="${club.ownerName}"></td>
        <td th:text="${club.sportsClubName}"></td>
        <td th:text="${club.email}"></td>
        <td th:text="${club.athleteCount}"></td>
        <td>
            <a th:href="@{/clubs/update/{id}(id=${club.id})}">
                <button type="button">Update</button>
            </a>
            <form th:action="@{/clubs/delete/{id}(id=${club.id})}" method="post">
                <input type="submit" value="Delete" />
            </form>
        </td>
    </tr>
    </tbody>


</table>
    <a href="/clubs/add">
        <button id="club-add-button" type="button">Add Club</button>
    </a>
</div>
</body>
</html>
