<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contracts Information</title>
  <link th:href="@{/styles/club.css}" rel="stylesheet" />


</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<h1>Contracts Information</h1>
<div id="clubs-layout-layout">
  <table>
    <thead>
    <tr>
      <th>Id Contract</th>
      <th>Name Athlete</th>
      <th>Name Sponsor</th>
      <th>Start</th>
      <th>End</th>
      <th>Sum</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contracts : ${contract}">
      <td th:text="${contracts.id}"></td>
      <td th:text="${contracts.athlete.name}"></td>
      <td th:text="${contracts.sponsor.name}"></td>
      <td th:text="${contracts.startDate}"></td>
      <td th:text="${contracts.endDate}"></td>
      <td th:text="${contracts.amount}"></td>

      <td>
        <a th:href="@{/contracts/update/{id}(id=${contracts.id})}">
          <button class="update" type="button">Update</button>
        </a>
        <form th:action="@{/contracts/delete/{id}(id=${contracts.getId()})}" method="post">
          <input class="delete" type="submit" value="Delete" />
        </form>
      </td>
    </tr>
    </tbody>


  </table>
  <a href="/contracts/add">
    <button class="back" type="button">Add contract</button>
  </a>
  <a href="/">
    <button class="back" type="button">Back</button>
  </a>
</div>

</body>
</html>
