<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>My Page</title>
</head>
<body>
<div th:replace="~{fragments/navbar::navbar}"></div>
<h1>Buttons to all the pages, this will be like a presentation page</h1>
<div>
    <table>
        <tr>
            <td><a href="/clubs"><button type="button">Clubs</button></a></td>
            <td><a href="/athletes"><button type="button">Athletes</button></a></td>
            <td><a href="/sponsors"><button type="button">Sponsors</button></a></td>
            <td><a href="/contracts"><button type="button">Contracts</button></a></td>
            <td><a href="/competitions"><button type="button">Competitions</button></a></td>
            <td><a href="/coaches"><button type="button">Coaches</button></a></td>
            <td><a href="/gyms"><button type="button">Gyms</button></a></td>
            <td><a href="/trainings"><button type="button">Trainings</button></a></td>
            <td><a href="/participations"><button type="button">Participations</button></a>
            <td><a href="/athletes-trainings-programs"><button type="button">A-T-P</button></a></td>

        </tr>
    </table>
</div>
</body>
</html>
