<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Contract</title>
    <link th:href="@{/styles/form.css}" rel="stylesheet">

</head>
<body>
<div th:replace="~{fragments/navbar::navbar}"></div>
<h1>Update Athlete</h1>
<form th:action="@{/contracts/update}" th:object="${contract}" method="post">
    <input type="hidden" th:field="*{id}" />
    <p>Sum: <input type="number" th:field="*{amount}" /></p>
    <p>Start Date: <input type="date" th:value="${contract.startDate}" name="startDate" /></p>
    <p>End Date: <input type="date" th:value="${contract.endDate}" name="endDate" /></p>


    <p>Sponsor:
        <select th:field="*{sponsor}">
            <option value="">Select sponsor</option>
            <option th:each="sponsor : ${sponsors}" th:value="${sponsor.getId()}"
                    th:text="${sponsor.getId()} + ' - ' + ${sponsor.getName()}"></option>
        </select>
    </p>

    <p>Athlete:
        <select th:field="*{athlete}">
            <option value="">Select athlete</option>
            <option th:each="athlete : ${athletes}" th:value="${athlete.getId()}"
                    th:text="${athlete.getId()} + ' - ' + ${athlete.getName()}"></option>
        </select>
    </p>
    <input type="submit" value="Update" />
</form>
<p th:if="${error}" th:text="${error}"></p>
<a href="/contracts">
    <button type="button">Back</button>
</a>
</body>
</html>
