<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Competition</title>
    <link th:href="@{/styles/form.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/navbar::navbar}"></div>
<h1>Update Competition</h1>
<form th:action="@{/competitions/update}" th:object="${competition}" method="post">
    <p><label>
        <input type="hidden" th:field="*{id}" />
    </label></p>
    <p>Competition Name: <label>
        <input type="text" th:field="*{name}" />
    </label></p>
    <p>Organizer: <label>
        <input type="text" th:field="*{organizer}" />
    </label></p>
    <p>Sport: <label>
        <input type="text" th:field="*{sport}" />
    </label></p>
    <p>Start Date: <label>
        <input type="date" th:field="*{startDate}" />
    </label></p>
    <p>End Date: <label>
        <input type="date" th:field="*{endDate}" />
    </label></p>
    <input type="submit" value="Update" />
</form>
<p th:if="${error}" th:text="${error}"></p>
<a href="/competitions">
    <button type="button">Back</button>
</a>
</body>
</html>
