<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Club</title>
    <link th:href="@{/styles/form.css}" rel="stylesheet">

</head>
<body>
<div th:replace="~{fragments/navbar::navbar}"></div>
<h1>Update Club</h1>
<form th:action="@{/clubs/update}" th:object="${sportsClub}" method="post">
    <p><label>
        <input type="hidden" th:field="*{id}" />
    </label></p>
    <p>Owner Name: <label>
        <input type="text" th:field="*{ownerName}" />
    </label></p>
    <p>Club Name: <label>
        <input type="text" th:field="*{sportsClubName}" />
    </label></p>
    <p>Email: <label>
        <input type="email" th:field="*{email}" />
    </label></p>
    <input type="submit" value="Update" />
</form>
<p th:if="${error}" th:text="${error}"></p>
</body>
</html>
