<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Sponsor</title>
  <link th:href="@{/styles/form.css}" rel="stylesheet">

</head>
<body>
<div th:replace="~{fragments/navbar::navbar}"></div>
<h1>Update Sponsor</h1>
<form th:action="@{/sponsors/update}" th:object="${sponsor}" method="post">
  <p><label>
    <input type="hidden" th:field="*{id}" />
  </label></p>
  <p>Owner Name: <label>
    <input type="text" th:field="*{name}" />
  </label></p>
  <p>Address: <label>
    <input type="text" th:field="*{address}" />
  </label></p>
  <p>Phone: <label>
    <input type="text" th:field="*{phone}" />
  </label></p>
  <p>Email: <label>
    <input type="email" th:field="*{email}" />
  </label></p>
  <input type="submit" value="Update" />
</form>
<p th:if="${error}" th:text="${error}"></p>
</body>
</html>
